.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 190px;

  & * {
    margin: 0 6px;
  }

  .to-previous-page svg {
    transform: rotate(90deg);
  }

  .to-next-page svg {
    transform: rotate(-90deg);
  }
}
