.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 190px;
}

.pagination * {
  margin: 0 6px;
}

.toPreviousPage svg {
  transform: rotate(90deg);
}

.toNextPage svg {
  transform: rotate(-90deg);
}
