.detailed-pet {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px 12px 12px;
  width: 50%;
  background-color: var(--bg-color-bright);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-s);
  transition: right 0.3s;

  .icon-cross {
    position: absolute;
    top: 4px;
    right: 4px;
    color: var(--font-color-primary);

    &:hover {
      color: var(--color-hover-primary);
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    svg {
      height: 40px;
      width: 40px;
    }
  }

  h2 {
    text-align: center;
  }

  .pet-id {
    color: var(--font-color-secondary);
  }

  &.not-found {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.bg-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg-overlay-opacity-30);
  border-radius: var(--border-radius-s);
  cursor: default;
}
