.input {
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-s);
  transition: border-color 0.3s;

  &::placeholder {
    color: var(--border-color);
  }

  &:focus {
    border-color: var(--color-accent-secondary);
    outline: none;
  }
}
