.input {
  flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  border-radius: var(--border-radius-s);
  transition: border-color 0.3s;
}

.input::placeholder {
  color: var(--border-color);
}

.input:focus {
  border-color: var(--color-accent-secondary);
  outline: none;
}
