.content-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  background-color: var(--bg-color-main);
  border: 1px solid var(--border-color);
}
