.pets {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  width: fit-content;

  a {
    text-decoration: none;
  }

  .pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    width: 226px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-s);
    transition: border-color 0.3s;
    cursor: pointer;

    h4 {
      text-align: center;
    }

    &:hover {
      border-color: var(--color-accent-primary);

      h4 {
        color: var(--color-accent-secondary);
      }
    }
  }
}
