.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 1em 4em;
  max-width: 736px;
  border-bottom: 1px solid var(--border-color);
}

.optionsContainer {
  position: absolute;
  right: 4em;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pointer {
  cursor: pointer;
}

.optionsItem {
  display: flex;
  gap: 4px;
}

.header a {
  text-transform: uppercase;
}
