.table {
  width: 100%;
  color: var(--font-color-secondary);
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid var(--border-color);

  td,
  th {
    padding: 8px 48px 8px 12px;
    border: 1px solid var(--border-color);
  }

  th {
    text-align: left;
  }

  td:last-child {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .table {
    td,
    th {
      padding-right: 24px;
    }
  }
}
