.app {
  font-family: var(--font-family-Roboto);
  line-height: 1.5em;
  color: var(--font-color-primary);
  background-color: var(--bg-color-main);

  .layout {
    position: relative;
    margin: auto;
    max-width: 736px;
    min-height: 100vh;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);

    .main {
      margin-top: 24px;
      overflow-x: hidden;
    }
  }
}
