@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family-Roboto: 'Roboto', 'Inter', sans-serif;

  --white-color: #ffffff;

  --font-color-primary: #292420;
  --font-color-secondary: #646a5e;

  --color-warning: #f72a2a;
  --color-success: #329f42;

  --bg-color-main: #ebe6dc;
  --bg-color-light-main: #efebe3;
  --bg-color-bright: #e0caab;
  --bg-overlay-opacity-30: rgba(124, 120, 111, 0.3);
  --bg-overlay-opacity-80: rgba(124, 120, 111, 0.8);

  --border-color: #d8d3c9;
  --border-radius-s: 8px;
  --border-radius-m: 24px;

  --color-accent-primary: #d89b47;
  --color-accent-secondary: #61922c;
  --color-disabled: #acb89f;
  --color-hover-primary: #ec8423;

  --shadow: 0 0 23px 0 rgba(214, 171, 84, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

a {
  color: var(--color-accent-primary);
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--color-hover-primary);
  }
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-family-Roboto);
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-family-Roboto);
}

h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-accent-secondary);
  font-family: var(--font-family-Roboto);
}

h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color-secondary);
  font-family: var(--font-family-Roboto);
  transition: color 0.3s;
}

.font-size-xs {
  font-size: 12px;
}

.font-disabled {
  color: var(--color-disabled);
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  max-width: 736px;
  color: var(--font-color-primary);
  font-family: var(--font-family-Roboto);
  line-height: 1.5em;
  background-color: var(--bg-color-main);
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}
